name: test

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go test -v ./... -race -bench=. -benchmem -cover -coverprofile cover.out 2>&1 | tee test.out
      - run: go tool cover -func cover.out
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go mod tidy -diff
      - run: go vet ./...
      - uses: dominikh/staticcheck-action@v1.4.0
        with:
          install-go: false
      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest
      - uses: golang/govulncheck-action@v1
        with:
          repo-checkout: false
      - run: go run golang.org/x/tools/go/analysis/passes/modernize/cmd/modernize@latest -fix -diff ./... | awk '{print} /\S/ {found=1} END {if (found) exit 1}'
  spell-check:
    name: spell-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.42.0
